<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @letter.body %>
</p>

<p>
  <strong>Letter location:</strong>
  <%= @letter.letter_location %>
</p>

<p>
  <strong>Date mailed:</strong>
  <%= @letter.date_mailed %>
</p>

<p>
  <strong>Time mailed:</strong>
  <%= @letter.time_mailed %>
</p>

<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
